* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* ボックスサイズの計算をより直感的にする */
}

body {
    font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Hiragino Sans", "ヒラギノ角ゴシック", "Meiryo", sans-serif; /* フォントスタイルを設定 */
}

nav {
    display: flex;
    justify-content: space-between; /* ロゴとリンクを左右に配置 */
    align-items: center; /* ナビゲーションバー内のアイテムを垂直方向に中央揃え */
    background-color: white; /* ナビゲーションバーの背景色を白に設定 */
    padding: 0; /* ナビゲーションバーの余白をゼロに設定 */
    height: 80px; /* ナビゲーションバー全体の高さを100pxに設定 */
    width: 100%;
    position: fixed; /*ずっと上で固定*/
    top:0;
}

main {
    padding-top: 80px;
}

.logo {
    color: black; /* ロゴのテキスト色を黒に設定 */
    font-size: 40px; /* ロゴのフォントサイズを40pxに設定 */
    font-weight: bold; /* ロゴのテキストを太字に設定 */
    padding-left: 20px; /* ロゴの左側に20pxの余白を追加 */
}

.nav-links {
    list-style: none; /* リストのデフォルトのスタイルを無効に設定 */
    display: flex; /* リンクを横並びに配置 */
    margin-left: auto; /* リンクを右端に配置 */
    height: 100%; /* リンクの高さをナビゲーションバー全体と同じに設定 */
}

.nav-links li {
    display: flex;
    justify-content: center; /* テキストを横方向に中央揃え */
    align-items: center; /* リンクテキストを縦方向に中央揃え */
    height: 100%; /* リンクアイテムの高さをナビゲーションバー全体と同じに設定 */
}

.nav-links a {
    color: black; /* リンクテキストの色を黒に設定 */
    text-decoration: none; /* リンクの下線を削除 */
    font-size: 20px; /* リンクテキストのフォントサイズを20pxに設定 */
    padding: 0; /* リンクの左右に40pxの余白を設定し、クリック可能な領域を拡大 */
    width: 180px;
    display: flex; /* リンクテキストを中央揃えするためにフレックスボックスを使用 */
    justify-content: center; /* テキストを横方向に中央揃え */
    align-items: center; /* リンクテキストを縦方向に中央揃え */
    height: 100%; /* リンク全体の高さをナビゲーションバーと同じに設定 */
    text-align: center; /* リンクテキストを中央に揃える */
}

.nav-links .active a {
    position: relative; /* 擬似要素の位置を正しく配置するためにrelativeを設定 */
}

.nav-links .active a::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%; /* リンクの幅に合わせる */
    height: 5px; /* 高さ5ピクセルの長方形 */
    background-color: yellow; /* 長方形の色を黄色に設定 */
}

.contact {
    background-color: gray; /* CONTACTリンクの背景色を灰色に設定 */
    color: gray;
    display: flex;
    justify-content: center; /* テキストを横方向に中央揃え */
    align-items: center; /* テキストを縦方向に中央揃え */
    padding: 0; /* CONTACTリンクの左右に40pxの余白を追加 */
    height: 100%; /* CONTACTリンクの高さをナビゲーションバー全体と同じに設定 */
}

.burger {
    display: none; /* デスクトップではハンバーガーメニューを非表示に設定 */
    cursor: pointer;
    padding-right: 20px; /* ハンバーガーメニューを右端に配置 */
}

.burger div {
    width: 35px; /* ハンバーガーメニューの棒の幅を35pxに設定 */
    height: 5px; /* ハンバーガーメニューの棒の高さを5pxに設定 */
    background-color: black; /* ハンバーガーメニューの棒の色を黒に設定 */
    margin: 6px 0; /* 棒同士の間に6pxの間隔を追加 */
    transition: all 0.3s ease; /* ハンバーガーメニューのアニメーションを設定 */
}

@media screen and (max-width: 768px) {
    nav {
        height: 80px; /* モバイル表示時のナビゲーションバーの高さを80pxに設定 */
    }

    .nav-links {
        display: none; /* モバイルではリンクを最初に非表示に設定 */
        flex-direction: column; /* モバイル表示時にはリンクを縦方向に並べる */
        width: 100%; /* リンクリストの幅を100%に設定 */
        position: absolute; /* 絶対位置に配置 */
        top: 80px; /* ナビゲーションバーの下に表示 */
        left: -100%; /* 初期状態では画面外に配置 */
        transition: all 0.5s ease; /* メニューのスライドアニメーションを設定 */
    }

    .nav-links li {
        text-align: center;
        margin: 15px 0; /* 各リンクアイテムの上下に15pxの余白を追加 */
        width: 100%; /* リンクアイテムの幅を100%に設定 */
        height: auto; /* リンクアイテムの高さを自動に設定 */
    }

    .nav-links a {
        font-size: 20px; /* モバイル表示時のリンクテキストを大きく設定 */
        padding: 30px 50px; /* モバイル表示時のリンクに十分なクリック領域を確保 */
        height: auto; /* モバイル表示時のリンクの高さを自動に設定 */
    }

    .burger {
        display: block; /* モバイル表示時にはハンバーガーメニューを表示 */
    }
}

img.home-image {
    width: 100%;
}

h2 {
    text-align: center;
    padding-top: 20px;
}

h3.revolution {
    text-decoration: underline;
    text-decoration-color: red;
}

h3.AI {
    text-decoration: underline;
    text-decoration-color: blue;
}

.circle-container {
    display: flex; /* 子要素を横に並べるためにflexboxを使用 */
    justify-content: center; /* 円同士を左右均等に配置 */
    align-items: center; /* 垂直方向に中央揃え */
}

.circle {
    width: 300px; /* 円の幅を設定 */
    height: 300px; /* 円の高さを設定 */
    margin: 0 20px;
    border-radius: 50%; /* 丸くするためにborder-radiusを50%に設定 */
    display: flex; /* フレックスボックスを使用して中央揃え */
    flex-direction: column; /* 要素を縦に並べる */
    justify-content: center; /* 水平方向に中央揃え */
    align-items: center; /* 垂直方向に中央揃え */
    font-size: 20px; /* テキストのフォントサイズを設定 */
    color: black; /* テキストの色を設定 */
    text-align: center; /* テキストを中央に揃える */
    border: 2px solid #d3d3d3; /* 枠線を薄いグレーに設定 */
    box-shadow: 0 0 10px 5px rgba(211, 211, 211, 0.5); /* 薄いグレーでぼやけた影を追加 */
}

span.and {
    font-size: 50px;
}

.pickup-news {
    position: relative;
    width: 500px;
}

.pickup-news img {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 黒の透過効果を追加 */
    z-index: 1; /* オーバーレイが画像の上に表示されるように設定 */
}

.topnews {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    color: white;
    font-weight: bold;
    display: flex;
    z-index: 2;
    align-items: center; /* 垂直方向に中央揃え */
    justify-content: center; /* 水平方向に中央揃え */
}

.topnews-title {
    white-space: nowrap; /* テキストを1行に制限 */
    overflow: hidden; /* 溢れた部分を非表示 */
    text-overflow: ellipsis; /* "..."で省略表示 */
    max-width: calc(100% - 30px); /* 矢印のスペースを考慮してタイトルの最大幅を設定 */
    width: 50%;
    font-size: 30px;
}

.news-arrow {
    color: white;
    font-size: 36px;
    font-weight: bold;
    flex-shrink: 0; /* 矢印が縮小されないようにする */
}